.answerWrapper {
    display: block;
    height:100%;
    width: 100%;
    background-color: white;
  }
  
  .forumWrapper {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: white;
  }
  
  .labelWrapper {
    display: block;
    position: relative;
    margin: auto;
    width: 80%;
    height: 50%;
    background-color: white;
    text-align: center;
  }
  
  .answerInput {
    display: block;
    position: relative;
    margin: auto;
    width: 75%;
    height: 50%;
  }