.questionWrapper {
  display: block;
  height: 100%;
  width: 100%;
  background-color: white;
}

#title {
  margin-top: 10px;
}
.forumWrapper {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: white;
}

.labelQuestionWrapper {
  display: block;
  position: relative;
  margin: auto;
  width: 80%;
  height: 200px;
  background-color: white;
  text-align: center;
}

#questionInput {
  display: block;
  position: relative;
  margin: auto;
  width: 75%;
  height: 80%;
  margin-top: 20px;
}

.skill_and_company_container {
  display: flex;
  justify-content: center;
}

.label_skill_container {
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 15px;
}

.companyContainer {
  margin-top: 15px;
}

#skill_list {
  margin-right: 70px;
}

#newButtonQuestion {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
