.container {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0px;
  /* z-index: 1; */
}

.top {
  display: flex;
  width: 100vw;
  height: 20vh;
  background-color: white;
  justify-content: center;
}

.bottom { 
  display: flex;
  width: 100vw;
  height: 80vh;
  background-color: white;  
  border-top: 1px solid black; 
}

.left {
  width: 15vw;
  height: 100vh;
  float: left; 
  border-right:1px solid black;
  background-color: #46AAE8;  
}

.display {
  width: 73vw;
  height: 100vh;
  float: left;
  background-color: white;  
}

.right {
  position: absolute;
  width: 10vw;
  height: 100vh;
  right: 0;
  background-color: #46AAE8;  
}
.header {
  display:text;
  justify-content: center;
}
.headertext {
  justify-content: center;
  align-items: center;
  font-size:45px;
  margin-bottom:20px;
  text-align: center;
}
.logo {
  position:absolute;
  opacity:.3;
}