
.question {
  display: flex;
  margin-top: 5px;
  width: 100%;
  min-height: 40px;
}

.skillHolder {
  position: absolute; 
  display: inline-block;
  width: 120px;
}

.textHolder {
  height:35px;
  padding-left: 18px;
  display: inline-block;
  width: 90%;
  margin-left: 160px;
  border: 1px solid black;  
  padding-top:15px;
}

.company {
  display: inline-block;
  width: 150px;
  height:35px;
  padding-top:15px;
  border: 1px solid black;
  border-left:none;
  text-align: center;
}
