/* .container {
    width: 100%;
    height: 100%;
    background-color: cyan;
} */
#signUpContainer {
    width: 100%;
    height: 100%;
    background-color: grey;
    z-index: 1000;
    opacity: 0.6;
    position: fixed;    
    padding-top: 30px;
    margin: 0px;
}
#signUpOuterBox {
    width: 400px;
    height: 400px;
    background-color: greenyellow;
    margin: 0 auto;
    z-index: 2000;
}
#signUpHeader {
    width: 200px;
    height: 40px;
    background-color: red;
    text-align: center;
    margin: auto;
    z-index: 2000;
}
#signUpForm {
    background-color: rgb(221, 210, 61);
    margin: auto;
    z-index: 2000;
}
