/* .container {
    width: 100%;
    height: 100%;
    background-color: cyan;
} */
#loginContainer {
    /* display: none; */
    width: 100%;
    height: 100%;
    background-color: grey;
    z-index: 1000;
    opacity: 0.6;
    position: fixed;    
    padding-top: 30px;
    margin: 0px;
}
#loginOuterBox {
    width: 400px;
    height: 400px;
    background-color: greenyellow;
    margin: 0 auto;
}
#loginHeader {
    width: 200px;
    height: 40px;
    background-color: red;
    text-align: center;
    margin: auto;
}
#loginForm {
    background-color: rgb(221, 210, 61);
    margin: auto;
}
